*,
*::before,
*::after {
    box-sizing: border-box;
}

.card {
    width: 300px;
    padding: var(--espacamento-medio);
    background-color: var(--cor-card);
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-borda);

}
.card:hover{
    background-color: green ;
    color: var(--cor-texto-calro);
    transform: translate(4px);
}

.grid-cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--espacamento-medio);
}

.aviso{
    /* margen fora*/
    margin: var(--espacamento-grande);
    /*margen dentro*/
    padding: var(--espacamento-medio);
    /* a borda esquerda*/
    border-left: 4px solid var(--cor-primaria) ;

    background-color: #dec4ec;

}

body {
    margin: 0;
    /*Remover o epaço padrão*/
    font-family: Arial, Helvetica, sans-serif;
    /*Nossa fonte*/
    color: var(--cor-texto);
    /*A cor padrão dos textos*/
    background-color: var(--cor-fundo);
    /*Define a cor do fundo*/

    line-height: 1.6;
    /*Aumenta o espaçamento das linhas*/

}

.container {
    width: 90%;
     /*o conteudo vai ocupar 90% do espaço disponivel*/
  
    max-width: 1200px;
     /*pode ocupar 90% ATÉ 1200px*/
    margin-left: auto;
     /*margen da esquerda com ajuste automatico*/
    margin-right: auto;
     /*margen da direita com ajuste automatico*/
 
}

.cabecalho{
    background-color: var(--cor-primaria);
    /*cor do fundo*/
    color: var(--cor-texto-calro);
    /*cor da letra*/
    padding: var(--espacamento-medio);
    /*margem */
}

.nav{
    display: flex;
    /**/
     flex-direction: column;
    /**/
      gap: var(--espacamento-pequeno);
    /**/
    padding: 1PX;
}
.nav a{
    color: white;
    text-decoration: none;

    padding: 0.75ren 1ren;

    border-radius: var(--raio-borda);

}

.nav a:hover{
    background-color: var(--cor-secundaria);
   
}

.nav .ativo{
    background-color: var(--cor-secundaria);
    margin-left: -10px;

    
}

.secao{
    padding: var(--espacamento-grande);
}
.secao_contato{
    padding: var(--espacamento-grande);
    min-height: 600px;
}

h1 {
    font-family: Arial;
}

h2 {
    font-family: Arial;
}

p {
    font-family: Arial;
}

a {
    font-family: Arial;
    color: var(--cor-texto);
}

.formulario{
    background-color: white;
    padding: var(--espacamento-medio);
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-borda);
    min-height: 250px;
}

.campo{
    margin-bottom: var(--espacamento-medio);
}
.campo label{
    display: block;
    margin-top: var(--espacamento-pequeno);
    font-weight: bold;
}

.campo input,
.campo textarea{
    width: 100%;
    padding: 0,75rem;
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio-borda);
    font-size: 1rem;
}
a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible{
    outline: 3px solid var(--cor-secundaria);
    outline-offset: 3px;    
}

.btn{
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: var(--raio-borda);
    background-color: var(--cor-primaria);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--cor-secundaria);
}
footer{
    margin-top: var(--espacamento-grande);
    padding: var(--espacamento-medio);
    background-color: var(--cor-primaria);
    color: var(--cor-texto-calro);
    border-left: #432b98;
}
.form-row{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--espacamento-medio);
}

/*################################################################
                      RESPONSIVIDADE EM ROSA
##################################################################*/
@media(min-width: 768px){
    .nav{
        flex-direction: row;
        padding: 0px;
    }
    .nav .ativo{
        margin-left: 0px;

    }
    .form-row{
        grid-template-columns: repeat(2,1fr);
    }
    .btn{
        width: auto;
    }
}

@media(min-width: 1024px){
    .grid-cards{
        grid-template-columns: repeat(3,1fr);
    }

    }


:root {
    --cor-primaria: #5b3cc4;
    --cor-secundaria: #432b98;

    --cor-fundo: #e0dddd;
    --cor-card: #ffffff;

    --cor-texto: #222222;
    --cor-texto-calro: #ffffff;

    --cor-borda: #dddddd;

    --espacamento-pequeno: 0.5rem;
    --espacamento-medio: 1rem;
    --espacamento-grande: 2rem;

    --raio-borda: 8px;
}